* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family:
    'SUIT',
    system-ui,
    -apple-system,
    sans-serif;
  padding: 24px;
}

.container {
  max-width: 720px;
}
.title {
  margin: 0 0 16px;
  font-size: 24px;
}
.section {
  margin-top: 24px;
}
.subtitle {
  margin: 0 0 12px;
  font-size: 18px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.avatars {
  list-style: none;
  padding: 0;
  margin: 0;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #dbdbdb;
  position: relative;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.status {
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #dbdbdb;
}

.avatar.is-online .status {
  background: #4cfe88;
}

.avatars--float .avatar {
  float: left;
  margin-right: 20px;
}

.avatars--float .avatar:last-child {
  margin-right: 0;
}

.avatars--float::after {
  content: '';
  display: block;
  clear: both;
}

.avatars--position {
  position: relative;
  height: 64px;
}

.avatars--position .avatar {
  position: absolute;
  top: 0;
}

.avatars--position .avatar:nth-child(1) {
  left: 0;
}
.avatars--position .avatar:nth-child(2) {
  left: 84px;
}
.avatars--position .avatar:nth-child(3) {
  left: 168px;
}
.avatars--position .avatar:nth-child(4) {
  left: 252px;
}
.avatars--position .avatar:nth-child(5) {
  left: 336px;
}
.avatars--position .avatar:nth-child(6) {
  left: 420px;
}
